### Spark MySql Connection

This notebook was based on course "Big Data Real-Time Analytics com Python e Spark" from DataScience Academy.

Download JDBC driver on: http://dev.mysql.com/downloads/connector/j/.
Unzip and copy the file "mysql-connector-java-5.1.45-bin.jar" into directory "../spark/jars".

I'm using a free MySql hosting for tests (https://www.freemysqlhosting.net/)
Create a table (carrostb) on database.
Import the data (carros.csv) to table. I used MySql Workbench.

In [ ]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [ ]:
# Create Spark Session
spSession = SparkSession.builder.master("local").appName("MySql-SparkSQL").config("spark.some.config.option", "some-value").getOrCreate()

In [ ]:
mysql_df = spSession.read.format("jdbc").options(
    url = "jdbc:mysql://sql10.freemysqlhosting.net/<database>",
    driver = "com.mysql.jdbc.Driver",
    dbtable = "carrostb",
    user = "<user>",
    password = "<pwd>").load()

In [ ]:
# Show table content
mysql_df.show()

In [ ]:
# Create temp table
mysql_df.registerTempTable("carrostbTmp")

In [ ]:
spSession.sql("select * from carrostbTmp where make='dodge'").show()